<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotik</title>

</head>
<meta http-equiv="refresh" content="5">
<body style="background-color: RGBA(40,40,40, 0.0); display: flex;flex-direction: row; width: 320px;">
<img style="width: 80px;height: 80px;" src={{context.image}}> <br>
<div style="display: flex; flex-direction: column">
    <h3 style="font-family: sans-serif; color: gray;margin-left: 20px; margin-bottom: 0px">{{context.track_name}}</h3>
    <h4 style="font-family: sans-serif; color: gray; margin-left: 20px; margin-top: 0px">{{context.artists}}</h4>
</div>
</body>
</html>